<?xml version="1.0"?>
<config>
  <modules>
    <Frankwebdev_Crowdfund>
      <version>0.1.0</version>
    </Frankwebdev_Crowdfund>
  </modules>
  <frontend>
  	<events>
  		<!-- <customer_login>
		    <observers>
		        <Frankwebdev_Crowdfund_Model_Observer>
		            <type>model</type>
		            <class>Frankwebdev_Crowdfund_Model_Observer</class>
		            <method>isallowedtoback</method>
		        </Frankwebdev_Crowdfund_Model_Observer>
		    </observers>
		</customer_login> -->
		<payment_method_is_active>
            <observers>
                <company_module>
                    <type>singleton</type>
                    <class>Frankwebdev_Crowdfund_Model_Observer</class>
                    <method>paymentMethodIsActive</method>
                </company_module>
            </observers>
        </payment_method_is_active>
		<sales_quote_merge_before>
		    <observers>
		        <Frankwebdev_Crowdfund_Model_Observer>
		            <type>model</type>
		            <class>Frankwebdev_Crowdfund_Model_Observer</class>
		            <method>isallowedtoback</method>
		        </Frankwebdev_Crowdfund_Model_Observer>
		    </observers>
		</sales_quote_merge_before>
		 <sales_quote_remove_item>
		 	 <observers>
		          <Frankwebdev_Crowdfund_Model_Observer>
		            <type>singleton</type>
		            <class>Frankwebdev_Crowdfund_Model_Observer</class>
		            <method>checkforpledge</method>
		          </Frankwebdev_Crowdfund_Model_Observer>
		    </observers>
		 </sales_quote_remove_item>
		<catalog_product_get_final_price>
		    <observers>
		      <Frankwebdev_Crowdfund_Model_Observer>
		            <type>singleton</type>
		            <class>Frankwebdev_Crowdfund_Model_Observer</class>
		            <method>setpledgefinalprice</method>
		       </Frankwebdev_Crowdfund_Model_Observer>
		    </observers>
  		</catalog_product_get_final_price>
  		<checkout_onepage_controller_success_action>
                <observers>
                    <Frankwebdev_Crowdfund_Model_Observer>
                    	<type>singleton</type>
                        <class>Frankwebdev_Crowdfund_Model_Observer</class>
                        <method>savetoreport</method>
                    </Frankwebdev_Crowdfund_Model_Observer>
                </observers>
        </checkout_onepage_controller_success_action>
        <sales_quote_collect_totals_after>
        	<observers>
                    <Frankwebdev_Crowdfund_Model_Observer>
                        <type>singleton</type>
                        <class>Frankwebdev_Crowdfund_Model_Observer</class>
                        <method>applycredit</method>
                    </Frankwebdev_Crowdfund_Model_Observer>
                </observers>
        </sales_quote_collect_totals_after> 

	</events>
    <routers>
      <crowdfund>
        <use>standard</use>
          <args>
            <module>Frankwebdev_Crowdfund</module>
            <frontName>Projects</frontName>
          </args>
      </crowdfund>
    </routers>
		<layout>
		  <updates>
			<crowdfund>
			  <file>crowdfund.xml</file>
			</crowdfund>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <crowdfund>
        <class>Frankwebdev_Crowdfund_Helper</class>
      </crowdfund>
    </helpers>
	<blocks>
	  <crowdfund>
		<class>Frankwebdev_Crowdfund_Block</class>
	  </crowdfund>
	</blocks>
	<models>
	  <crowdfund>
		<class>Frankwebdev_Crowdfund_Model</class>
		<resourceModel>crowdfund_mysql4</resourceModel>
	  </crowdfund>
	  <crowdfund_mysql4>
		<class>Frankwebdev_Crowdfund_Model_Mysql4</class>
		<entities>		  
			  <crowdfundmodel>
				<table>crowdfund</table>
			  </crowdfundmodel>
			  <grid>
				<table>crowdfund_products</table>
			  </grid>
			  <projectproducts>
				<table>crowdfund_products</table>
			  </projectproducts>
			  <customers>
				<table>crowdfund_customers</table>
			  </customers>
			  <orders>
				<table>crowdfund_customers_orders</table>
			  </orders>
			  <customerproducts>
				<table>crowdfund_customers_products</table>
			  </customerproducts>
			  <customercredit>
				<table>crowdfund_customer_credit</table>
			  </customercredit>
			  <customercredithistory>
				<table>crowdfund_order_credit_history</table>
			  </customercredithistory>
			  <customernotify>
				<table>crowdfund_notify</table>
			  </customernotify>
        </entities>
	  </crowdfund_mysql4>
	</models>
	
	<resources>
	  <crowdfund_setup>
		<setup>
		  <module>Frankwebdev_Crowdfund</module>
		  <class>Mage_Eav_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </crowdfund_setup>
	  <crowdfund_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </crowdfund_write>
	  <crowdfund_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </crowdfund_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <crowdfund>
	    <use>admin</use>
		<args>
		  <module>Frankwebdev_Crowdfund</module>
		  <frontName>admin_crowdfund</frontName>
		</args>
	  </crowdfund>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <crowdfund module="crowdfund">
		<title>Crowdfund</title>
		<sort_order>30</sort_order>
		<children>
		  <crowdfunddmodel module="crowdfund">
			<title>Create New Project</title>
			<sort_order>1</sort_order>
			<action>admin_crowdfund/adminhtml_crowdfundmodel/new</action>
		  </crowdfunddmodel>
		  <crowdfundmodel module="crowdfund">
		    <title>Manage Projects</title>
			<sort_order>0</sort_order>
			<action>admin_crowdfund/adminhtml_crowdfundmodel/index</action>
		  </crowdfundmodel>
		  <crowdfundimport module="crowdfund">
		    <title>Import Orders</title>
			<sort_order>2</sort_order>
			<action>admin_crowdfund/adminhtml_crowdfundimport/index</action>
		  </crowdfundimport>
		</children>
	  </crowdfund>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<crowdfund translate="title" module="crowdfund">
			  <title>Crowdfund</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <crowdfundbackend translate="title">
			<title>Create New Project</title>
		  </crowdfundbackend>
		  <crowdfundmodel translate="title">
			<title>Manage Projects</title>
			<sort_order>0</sort_order>
		  </crowdfundmodel>
		   <crowdfundimport translate="title">
			<title>Import</title>
			
		  </crowdfundimport>
			  </children>
			</crowdfund>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<crowdfund>
		  <file>crowdfund.xml</file>
		</crowdfund>
	  </updates>
	</layout>
  </adminhtml>    
    <crontab>
        <jobs>            
			<crowdfund_sendnotifications>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>crowdfund/cron::sendnotifications</model></run>
            </crowdfund_sendnotifications>
        </jobs>
    </crontab>
</config> 