<?xml version="1.0"?>
<config>
  <modules>
    <Frankhdesign_Shopbybrand>
      <version>0.1.0</version>
    </Frankhdesign_Shopbybrand>
  </modules>
  <frontend>
    <routers>
      <shopbybrand>
        <use>standard</use>
          <args>
            <module>Frankhdesign_Shopbybrand</module>
            <frontName>shopbybrand</frontName>
          </args>
      </shopbybrand>
    </routers>
		<layout>
		  <updates>
			<shopbybrand>
			  <file>shopbybrand.xml</file>
			</shopbybrand>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shopbybrand>
        <class>Frankhdesign_Shopbybrand_Helper</class>
      </shopbybrand>
    </helpers>
	<blocks>
	  <shopbybrand>
		<class>Frankhdesign_Shopbybrand_Block</class>
	  </shopbybrand>
	</blocks>
  </global>
</config> 