<?xml version="1.0"?>
<config>
  <modules>
    <Frankhdesign_Shopbybrandcategory>
      <version>0.1.0</version>
    </Frankhdesign_Shopbybrandcategory>
  </modules>
  <frontend>
    <routers>
      <shopbybrandcategory>
        <use>standard</use>
          <args>
            <module>Frankhdesign_Shopbybrandcategory</module>
            <frontName>shopbybrandcategory</frontName>
          </args>
      </shopbybrandcategory>
    </routers>
		<layout>
		  <updates>
			<shopbybrandcategory>
			  <file>shopbybrandcategory.xml</file>
			</shopbybrandcategory>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shopbybrandcategory>
        <class>Frankhdesign_Shopbybrandcategory_Helper</class>
      </shopbybrandcategory>
    </helpers>
	<blocks>
	  <shopbybrandcategory>
		<class>Frankhdesign_Shopbybrandcategory_Block</class>
	  </shopbybrandcategory>
	</blocks>
  </global>
</config>