<?xml version="1.0"?>
<config>
    <modules>
        <Frankwebdev_Crowdfundpayment>
            <version>0.1.0</version>
        </Frankwebdev_Crowdfundpayment>
    </modules>
    <frontend>
        <routers>
            <crowdfundpayment>
                <use>standard</use>
                <args>
                    <module>Frankwebdev_Crowdfundpayment</module>
                    <frontName>crowdfundpayment</frontName>
                </args>
            </crowdfundpayment>
        </routers>
        <layout>
            <updates>
                <crowdfundpayment>
                    <file>crowdfundpayment.xml</file>
                </crowdfundpayment>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <crowdfundpayment>
                <class>Frankwebdev_Crowdfundpayment_Model</class>
                <resourceModel>pay_mysql4</resourceModel>
            </crowdfundpayment>
            <crowdfundpayment_mysql4>
                <class>Frankwebdev_Crowdfundpayment_Model_Mysql4</class>
                <entities>
                    <crowdfundpayment>
                        <table>pay</table>
                    </crowdfundpayment>
                </entities>
            </crowdfundpayment_mysql4>
        </models>
        <resources>
            <crowdfundpayment_setup>
                <setup>
                    <module>Frankwebdev_Crowdfundpayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crowdfundpayment_setup>
            <crowdfundpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crowdfundpayment_write>
            <crowdfundpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crowdfundpayment_read>
        </resources>
        <blocks>
            <crowdfundpayment>
                <class>Frankwebdev_Crowdfundpayment_Block</class>
            </crowdfundpayment>
        </blocks>
        <helpers>
            <crowdfundpayment>
                <class>Frankwebdev_Crowdfundpayment_Helper</class>
            </crowdfundpayment>
        </helpers>
    </global>
    <default>
        <payment>
            <pay>
                <active>0</active>
                <model>crowdfundpayment/pay</model>
                <order_status>processing</order_status>
                <title>Kickstarter Payment Method</title>
            </pay>
         </payment>
    </default>
</config>